Repository skarzi/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-fix-markdown, actionlint, lint-vim

lint-fix-markdown:
  name: Lint and fix Markdown files
  language: system
  pass_filenames: true
  entry: make lint-fix-markdown --
  stages:
  - pre-commit

actionlint:
  name: Lint GitHub Actions
  language: system
  pass_filenames: true
  entry: make lint-github-actions --
  stages:
  - pre-commit

lint-vim:
  name: Lint Vim scripts
  language: system
  pass_filenames: false
  entry: make lint-vim
  stages:
  - pre-commit

feat(bash_aliases): make file compliant with shellcheck
  .bash_aliases
  .pre-commit-config.yaml
  Makefile
Due: none

refactor(bash): unify comments style in .bashrc
  .bashrc
Due: none

refactor(bash): update posix `[ ]` to bash `[[ ]]`
  .bashrc
Due: none

refactor(bash): unify variable access style
  .bashrc
Due: none

refactor(bash): use TwoDark bat theme when running man
  .bashrc
Due: none

refactor(bash): resolve some shellcheck errors
  .bashrc
Due: none

refactor(bash): introduce add_to_path utility function
  .bashrc
Due: none

refactor(bash): remove deprecated bash prompt config
  .bashrc
Due: none

refactor(bash): reorganize bashrc sections
  .bashrc
  .pre-commit-config.yaml
  Makefile
Due: none

feat(bash): update bash shebangs
  bin/add_ssh_key.sh
  bin/manage_bash_history.sh
  bin/toggle_trackpad.sh
Due: none

feat(bash): force update homebrew in the ${PATH}
  .bashrc
Due: none

feat(brew): add gemini-cli dependency
  .Brewfile
Due: none

chore(deps): regenerate package-lock.json
  package-lock.json
Due: none

feat(ai): add root AGENTS.md file and bash styleguide
  .agents/bash-styleguide.md
  AGENTS.md
Due: lint-fix-markdown

fix(ci): use quotes to evaluate Markdown globs in linter code
  Makefile
Due: none

refactor(ai): improve AGENTS.md file
  AGENTS.md
Due: lint-fix-markdown

refactor(ai): update bash styleguide numbers arithmetic section
  .agents/bash-styleguide.md
Due: lint-fix-markdown

build(deps): add fd to Brewfile
  .Brewfile
Due: none

feat(ai): add lua styleguide
  .agents/lua-styleguide.md
  AGENTS.md
Due: lint-fix-markdown

feat(ci): add custom selene.toml config compatible with neovim
  neovim.yaml
  selene.toml
Due: none

refactor(ai): update neovim best practices in lua styleguide
  .agents/lua-styleguide.md
Due: lint-fix-markdown

feat(macos): add karabiner config
  karabiner.json
Due: none

fix(bash): properly init pyenv and pyenv-virtualenvwrapper
  .bashrc
Due: none

feat(bash): load gvm bash completion
  .bashrc
Due: none

refactor(tmux): simplify dotfiles workspace declaration
  .tmux/workspaces/dotfiles.yaml
  .tmux/workspaces/personal.yml
Due: none

feat(tmux): add personal resume workspace
  .tmux/workspaces/resume.yaml
Due: none

feat(ci): add pre-commit hook to lint yaml files
  .pre-commit-config.yaml
Due: none

fix(dev): use pyenv and require specific python version
  .github/workflows/ci.yml
  .gitignore
  .python-version
  README.md
Due: lint-fix-markdown, actionlint

feat(bash): add neovim bash aliases
  .bash_aliases
Due: none

feat(alacritty): use one-dark warmer color palette
  .alacritty.toml
Due: none

chore(dev): update max line length and add lua to editorconfig
  .editorconfig
Due: none

feat(brew): add proton pass-cli formulae
  .Brewfile
Due: none

refactor(ai): use tdd-like flow when editing dotfiles
  AGENTS.md
Due: lint-fix-markdown

refactor(macos): simplify .Brewfile
  .Brewfile
Due: none

fix(ci): resolve markdownlint-cli2 issues
  AGENTS.md
Due: lint-fix-markdown

fix(macos): add missing bash scripts dependencies
  .Brewfile
  Makefile
Due: none

fix(ci): use old github user name when installing checkmake
  .github/workflows/ci.yml
Due: actionlint

feat(vim): add info about migrating from ViM to Neovim
  .vim/.vimrc
Due: lint-vim

feat(macos): set screenshots directory
  chezmoi/.chezmoiscripts/darwin/run_once_create-screenshots-directory.sh
  macos-defaults.yaml
Due: none

Path conditions:
  lint-fix-markdown: any of: \.(md|markdown|mdown)$
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$
  lint-vim: any of: ^\.vim/
