Repository skarzi/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-fix-markdown, actionlint, lint-ssh-config, lint-gemini-settings

lint-yaml:
  name: Lint YAML files
  language: system
  pass_filenames: false
  entry: make lint-yaml
  stages:
  - pre-commit

lint-fix-markdown:
  name: Lint and fix Markdown files
  language: system
  pass_filenames: true
  entry: make lint-fix-markdown --
  stages:
  - pre-commit

actionlint:
  name: Lint GitHub Actions
  language: system
  pass_filenames: true
  entry: make lint-github-actions --
  stages:
  - pre-commit

lint-ssh-config:
  name: Lint SSH config
  language: system
  pass_filenames: false
  entry: make lint-ssh-config
  stages:
  - pre-commit

lint-gemini-settings:
  name: Lint Gemini settings
  language: system
  pass_filenames: false
  entry: make lint-gemini-settings
  stages:
  - pre-commit

fix(mise): auto-create uv venvs or venvs in dev python projects
  chezmoi/dot_config/mise/config.toml
Due: none

feat(gemini): enable plan mode
  chezmoi/dot_gemini/settings.json
Due: lint-gemini-settings

fix(mise): create venv in all uv projects and python projects in ~/dev
  chezmoi/dev/mise.toml
  chezmoi/dot_config/mise/config.toml
  mise.toml
Due: none

fix(tmux): remove legacy workon calls from workspaces
  chezmoi/dot_config/tmux/workspaces/dotfiles.yaml
Due: lint-yaml

feat(bash): add new work-specific bash aliases
  chezmoi/.encrypted_data/work/bash_aliases.sh.age
Due: none

fix(deps): update dependabot config for uv and add CODEOWNERS
  .github/dependabot.yml
  CODEOWNERS
Due: lint-yaml

chore(dev): remove deprecated gemini-cli settings
  chezmoi/dot_gemini/settings.json
Due: lint-gemini-settings

chore(dev): add pre-commit hook dependabot config
  .github/dependabot.yml
Due: lint-yaml

feat(bash): update docker runtime config
  chezmoi/.encrypted_data/work/Brewfile.age
  chezmoi/.encrypted_data/work/bashrc.sh.age
Due: none

fix(gemini): remove legacy prompt completion setting
  chezmoi/dot_gemini/settings.json
Due: lint-gemini-settings

feat(macos): add work dependency
  chezmoi/.encrypted_data/work/Brewfile.age
  chezmoi/.encrypted_data/work/bashrc.sh.age
Due: none

feat(bash): update work tools
  chezmoi/.encrypted_data/work/bashrc.sh.age
Due: none

feat(docker): add orbstack config
  chezmoi/dot_bashrc.tmpl
  chezmoi/dot_ssh/config
Due: lint-ssh-config

feat(bash): edit work-related bash alias
  chezmoi/.encrypted_data/work/bash_aliases.sh.age
Due: none

feat(bash): import and use gpg keys
  chezmoi/.chezmoiscripts/run_onchange_import-gpg-keys.sh.tmpl
  chezmoi/.chezmoitemplates/Brewfile
  chezmoi/.chezmoitemplates/import_gpg_key.sh
  chezmoi/dot_config/git/encrypted_work.gitconfig
Due: none

feat(ai): point CLAUDE.md to AGENTS.md
  CLAUDE.md
Due: lint-fix-markdown

feat(ai): plan is no longer gemini experimental feature
  chezmoi/dot_gemini/settings.json
Due: lint-gemini-settings

feat(git): add AI agents local context files to global gitignore
  chezmoi/dot_config/git/global.gitignore.tmpl
Due: none

fix(nvim): update mason-lspconfig config from to v2
  nvim/lua/plugins/lsp.lua
Due: none

fix(nvim): migrate filetypes.lua from broken glob patterns to vim.filetype.add()
  nvim/lua/config/filetypes.lua
Due: none

feat(git): ignore more AI agents-specific stuff
  .gitignore
Due: none

chore(dev): add implementation plan to improve nvim configuration
  .agents/plans/nvim-config-review.md
Due: lint-fix-markdown

fix(nvim): remove flake8 from conform.nvim Python formatters
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/formatting.lua
Due: lint-fix-markdown

fix(nvim): update mason.nvim to canonical mason-org namespace
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/dependencies.lua
Due: lint-fix-markdown

fix(nvim): remove duplicate dockerls from mason-lspconfig
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/lsp.lua
Due: lint-fix-markdown

chore(dev): add Makefile stage to install pre-commit hooks
  Makefile
Due: none

fix(nvim): use VeryLazy event for mason-tool-installer
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/dependencies.lua
Due: lint-fix-markdown

fix(nvim): defer noice require in lualine to preserve lazy loading
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/ui.lua
Due: lint-fix-markdown

fix(nvim): add number option for hybrid line numbering
  .agents/plans/nvim-config-review.md
  nvim/lua/core/options.lua
Due: lint-fix-markdown

fix(nvim): change arglist keymaps to tab navigation
  .agents/plans/nvim-config-review.md
  nvim/lua/core/keymaps.lua
Due: lint-fix-markdown

feat(nvim): migrate harpoon to v2 and refactor keymaps
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/productivity.lua
Due: lint-fix-markdown

chore(dev): disable caching when linting gemini-cli settings
  Makefile
Due: none

feat(ai): update gemini-cli settings
  chezmoi/dot_gemini/settings.json
Due: lint-gemini-settings

fix(nvim): remove FixCursorHold.nvim from neotest dependencies
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/testing.lua
Due: lint-fix-markdown

refactor(nvim): remove Comment.nvim plugin
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/core.lua
Due: lint-fix-markdown

refactor(nvim): replace norcalli/nvim-colorizer.lua with catgoose fork
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/editing.lua
Due: lint-fix-markdown

fix(nvim): move DAP keymaps to keys spec for lazy loading
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/debugging.lua
Due: lint-fix-markdown

fix(nvim): use InsertEnter event for nvim-autopairs
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/editing.lua
Due: lint-fix-markdown

fix(nvim): lazy-load actions-preview.nvim via keys spec
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/productivity.lua
Due: lint-fix-markdown

refactor(git): use switch instead of checkout
  chezmoi/dot_config/git/config
Due: none

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$
  lint-fix-markdown: any of: \.(md|markdown|mdown)$
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$
  lint-ssh-config: any of: ^chezmoi/dot_ssh/config$
  lint-gemini-settings: any of: ^chezmoi/dot_gemini/settings.json$
