Repository skarzi/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-fix-markdown, actionlint, lint-ssh-config, lint-gemini-settings

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespaces
        stages:
          - pre-commit
      - id: end-of-file-fixer
        name: Ensure file ends with a newline
        stages:
          - pre-commit
      - id: check-added-large-files
        name: Check for added large files
        stages:
          - pre-commit
  - repo: local
    hooks:
      - id: lint-commit-message
        name: Lint commit messages
        language: system
        entry: make lint-commit-message
        pass_filenames: false
        always_run: true
        stages:
          - commit-msg
      - id: lint-yaml
        name: Lint YAML files
        language: system
        types:
          - yaml
        pass_filenames: false
        entry: make lint-yaml
        stages:
          - pre-commit
      - id: lint-makefile
        name: Lint Makefile
        language: system
        types:
          - makefile
        pass_filenames: true
        entry: checkmake
        stages:
          - pre-commit
      - id: lint-fix-markdown
        name: Lint and fix Markdown files
        language: system
        types:
          - markdown
        pass_filenames: true
        entry: make lint-fix-markdown --
        stages:
          - pre-commit
      - id: actionlint
        name: Lint GitHub Actions
        language: system
        types:
          - yaml
        files: '^\.github/workflows/'
        pass_filenames: true
        entry: make lint-github-actions --
        stages:
          - pre-commit
      - id: lint-fix-shell-scripts
        name: Lint and fix Shell scripts
        language: system
        types:
          - shell
        exclude: "^(spec/|.vim/bundle/)"
        pass_filenames: true
        entry: make lint-fix-shell-scripts --
        stages:
          - pre-commit
      - id: lint-fix-lua
        name: Lint and fix Lua files
        language: system
        types:
          - lua
        pass_filenames: true
        entry: make lint-fix-lua --
        stages:
          - pre-commit
      - id: lint-ssh-config
        name: Lint SSH config
        language: system
        files: '^chezmoi/dot_ssh/config$'
        pass_filenames: false
        entry: make lint-ssh-config
        stages:
          - pre-commit
      - id: lint-gemini-settings
        name: Lint Gemini settings
        language: system
        files: '^chezmoi/dot_gemini/settings.json$'
        pass_filenames: false
        entry: make lint-gemini-settings
        stages:
          - pre-commit

refactor(git): modernize git config
  chezmoi/dot_config/git/config
Due: none

refactor(nvim): use <cmd> form for Ex command keymaps
  .agents/plans/nvim-config-review.md
  nvim/lua/core/keymaps.lua
Due: lint-fix-markdown

refactor(nvim): add silent = true to Ex command keymaps
  .agents/plans/nvim-config-review.md
  nvim/lua/core/keymaps.lua
Due: lint-fix-markdown

refactor(nvim): use conventional integer 1 for netrw disable globals
  .agents/plans/nvim-config-review.md
  nvim/lua/core/options.lua
Due: lint-fix-markdown

refactor(nvim): lazy-load nvim-tree via cmd and keys triggers
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/ui.lua
Due: lint-fix-markdown

refactor(nvim): lazy-load venv-selector via ft and keys triggers
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/python.lua
Due: lint-fix-markdown

refactor(nvim): upgrade telescope to latest stable via version = "*"
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/core.lua
  nvim/lua/plugins/python.lua
Due: lint-fix-markdown

refactor(nvim): remove dead event field from treesitter spec
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/core.lua
Due: lint-fix-markdown

docs(nvim): document intentional flake8 alongside ruff in linters
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/linting.lua
Due: lint-fix-markdown

feat(nvim): replace lua_ls workspace.library with lazydev.nvim
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/lsp.lua
Due: lint-fix-markdown

refactor(nvim): add desc to lint autocmd
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/linting.lua
Due: lint-fix-markdown

fix(nvim): guard against duplicate mise shims in PATH
  .agents/plans/nvim-config-review.md
  nvim/lua/config/mise.lua
Due: lint-fix-markdown

fix(nvim): remove dead Makefile from FileType indentation pattern
  .agents/plans/nvim-config-review.md
  nvim/lua/config/indentation.lua
Due: lint-fix-markdown

feat(nvim): remove vim-pandoc, update render-markdown.nvim, add phase 5 with keymaps
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/ai.lua
  nvim/lua/plugins/editors.lua
  nvim/lua/plugins/linting.lua
Due: lint-fix-markdown

feat(nvim): add signcolumn, updatetime, scrolloff, undofile options
  .agents/plans/nvim-config-review.md
  nvim/lua/core/options.lua
Due: lint-fix-markdown

feat(nvim): replace goyo.vim with zen-mode.nvim
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/editors.lua
Due: lint-fix-markdown

refactor(nvim): switch benmills/vimux to preservim/vimux
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/dev.lua
Due: lint-fix-markdown

feat(nvim): configure aerial with telescope integration and lualine breadcrumbs
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/navigation.lua
  nvim/lua/plugins/ui.lua
Due: lint-fix-markdown

chore(dev): mark already resolved step as done
  .agents/plans/nvim-config-review.md
Due: lint-fix-markdown

refactor(nvim): remove redundant lazyredraw = false default
  .agents/plans/nvim-config-review.md
  nvim/lua/core/options.lua
Due: lint-fix-markdown

refactor(nvim): lazy-load chezmoi.nvim via keys spec
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/chezmoi.lua
Due: lint-fix-markdown

chore(dev): update the plan with plenary migration status
  .agents/plans/nvim-config-review.md
Due: lint-fix-markdown

fix(brew): fix new lines rendering in Brewfile
  chezmoi/.chezmoitemplates/Brewfile
Due: none

feat(nvim): add ts-comments.nvim for treesitter-aware commenting
  .agents/plans/nvim-config-review.md
  nvim/lua/plugins/core.lua
Due: lint-fix-markdown

refactor(nvim): enforce 4-space indentation across all Lua files
  nvim/init.lua
  nvim/lua/config/filetypes.lua
  nvim/lua/config/indentation.lua
  nvim/lua/config/mise.lua
  nvim/lua/config/projects.lua
  nvim/lua/core/autocmds.lua
  nvim/lua/core/keymaps.lua
  nvim/lua/plugins/ai.lua
  nvim/lua/plugins/chezmoi.lua
  nvim/lua/plugins/colorschemes.lua
  nvim/lua/plugins/core.lua
  nvim/lua/plugins/debugging.lua
  nvim/lua/plugins/dependencies.lua
  nvim/lua/plugins/dev.lua
  nvim/lua/plugins/editing.lua
  nvim/lua/plugins/editors.lua
  nvim/lua/plugins/formatting.lua
  nvim/lua/plugins/git.lua
  nvim/lua/plugins/go.lua
  nvim/lua/plugins/init.lua
  nvim/lua/plugins/linting.lua
  nvim/lua/plugins/logic/lists.lua
  nvim/lua/plugins/lsp.lua
  nvim/lua/plugins/navigation.lua
  nvim/lua/plugins/productivity.lua
  nvim/lua/plugins/python.lua
  nvim/lua/plugins/rust.lua
  nvim/lua/plugins/testing.lua
  nvim/lua/plugins/ui.lua
  stylua.toml
Due: none

feat(make): add docstrings and help stage
  Makefile
Due: none

chore(ai): update gemini default model to 3.1 pro
  chezmoi/dot_gemini/settings.json
Due: lint-gemini-settings

chore(make): improve Makefile docstrings parsing
  Makefile
Due: none

chore(make): rename lint stage to lint-fix
  .github/workflows/ci.yml
  AGENTS.md
  Makefile
  README.md
Due: lint-yaml, lint-fix-markdown, actionlint

chore(deps): add codex dependency
  chezmoi/.chezmoitemplates/Brewfile
Due: none

feat(gemini): add initial policies
  .pre-commit-config.yaml
  chezmoi/dot_gemini/policies/bash.toml
  chezmoi/dot_gemini/policies/git.toml
  chezmoi/dot_gemini/policies/mcp.toml
Due: lint-yaml

chore(dev): add TOML linter and formatter
  .pre-commit-config.yaml
  .tombi.toml
  Makefile
  chezmoi/dev/mise.toml
  chezmoi/dot_config/alacritty/alacritty.toml
  chezmoi/dot_config/mise/config.toml
  chezmoi/dot_config/starship.toml
  chezmoi/dot_gemini/policies/bash.toml
  chezmoi/dot_gemini/policies/git.toml
  chezmoi/dot_gemini/policies/mcp.toml
  mise.toml
  pyproject.toml
  selene.toml
  stylua.toml
  uv.lock
Due: lint-yaml

feat(bash): add alias for `brew bundle --global`
  chezmoi/dot_bash_aliases.tmpl
Due: none

feat(tmux): dump new work's session
  chezmoi/dot_config/tmux/workspaces/rippling/encrypted_go.yaml.age
Due: none

chore(dev): respect ignore files in tombi config
  .tombi.toml
Due: none

chore(deps): add new work dependency
  chezmoi/.encrypted_data/work/Brewfile.age
Due: none

chore(dev): add grep to gemini allowed tools
  chezmoi/dot_gemini/policies/bash.toml
Due: none

feat(git): add new alias to join stash and switchp
  chezmoi/dot_config/git/config
Due: none

build(deps): migrate more dev dependencies to mise
  .github/workflows/ci.yml
  .nvmrc
  Makefile
  README.md
  mise.toml
Due: lint-yaml, lint-fix-markdown, actionlint

feat(git): add sswitch alias to stash + switch + stash pop
  chezmoi/dot_bashrc.tmpl
  chezmoi/dot_config/git/config
Due: none
